@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #172026;
  background: #f7f5ef;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

button,
textarea,
input,
select {
  font: inherit;
}

